html,body{
	height: 100vh
	width:100vw;
	background-image: url(back.jpg);
	background-position: 0% 9%;
	background-size: cover;
	background-repeat: no-repeat;
}


}
.nav-link .navbar-brand {
	color: white;
}
.navbar-brand {
	font-size: 3vw;
} 

.nav-link {
	font-size: 1.3vw;
}

.content {
	position: relative;
	height: 50px
	margin-top: 17vw
	margin-bottom: 0vw;
}
.card img
{
	max-height: : 50px
	max-width: 50px;
}